
<h1>
  String Interpolation Example!!!
</h1>
<p>
  he Japanese company created the characters three years ago as a Game Boy game. 
  A TV show followed a year later. The game and the TV came to the United States a little more than a year ago. 
  "Mike Ado" a KB Toys clerk in Fairoaks says the really popular {{ showName }} toys ran out by Thanksgiving. 
  Christmas is over and people are still looking for the toys. 
  While many parents will spend considerable time and money feeding their child's fad frenzy, experts warn that these toys can 
  never substitute for parental time and attention. 
</p>
